/* Custom Preflight */
.upscale-App-Root * {
  border-style: solid;
  border-width: 0;
  border-color: rgb(209 213 219);
}
/* width */
.upscale-App-Root ::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

/* Track */
.upscale-App-Root ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  width: 0.5rem;
}
 
/* Handle */
.upscale-App-Root ::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 99999px;
}
.upscale-App-Root .upscale-y:hover {
  padding-right: 0.25rem;
}

.upscale-App-Root .modal-enter {
  opacity: 0;
  max-height: 0px;
}
.upscale-App-Root .modal-enter-active {
  opacity: 1;
  max-height: 460px;
  transition: opacity 200ms, max-height 200ms;
}
.upscale-App-Root .modal-exit {
  opacity: 1;
  max-height: 460px;
}
.upscale-App-Root .modal-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms, max-height 200ms;
}
.upscale-App-Root .upscale-engine-position {
  bottom: 1rem;
  right: 1rem;
}

.upscale-App-Root .upscale-engine-window {
  width: 100vw;
  height: 100vh;
}
@media (min-width: 768px) {
  .upscale-App-Root .upscale-engine-window {
    width: 330px;
    height: 460px;
    bottom: 4rem;
  }
  .upscale-App-Root .upscale-engine-window-enter {
    height: 460px;
  }
  .upscale-App-Root .upscale-engine-window-enter-done {
    height: 100vh;
    transform: translateY(4rem);
    transition: transform 300ms, height 200ms;
  }
  .upscale-App-Root .upscale-engine-window-exit {
    max-height: 100vh;
  }
  .upscale-App-Root .upscale-engine-window-exit-done {
    height: 460px;
    transform: translateY(0px);
    transition: transform 300ms, max-height 200ms;
  }
} 

.upscale-App-Root .chat-item-animation-container{
  animation: engineSlideUpAnimation 0.2s ease-in-out forwards;
}

.upscale-App-Root .upscale-slide-down-animation{
  animation: engineSlideDownAnimation 0.2s ease-in-out forwards;
}

.upscale-App-Root .upscale-fade-animation{
  animation: engineFadeAnimation 0.2s ease-in-out forwards;
}

@keyframes engineSlideDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-65px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes engineSlideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes engineFadeAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
